<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>
            Name
            <input type="text" id="name" name="name" class="form-control" />
          </label>
        </div>
        <div class="col-sm-2 form-group">
          <label>
            Amount
            <input type="text" class="form-control" name="amount" id="amount" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Submit</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
